@model WebApplication1.Models.BuckProjectViewModel
@using System.Globalization;
@{
    ViewBag.Title = "BackProject";
    Layout = "~/Views/Shared/_myTemplate.cshtml";

}

<font color="black">
    
    <h1 style="margin-left: 20px;">
        <b> Payment information!</b>
    </h1><br />

    <h3 style="margin-left: 20px;">
        Dear @Model.BackerName, <br />
        we will charge your bank account at this time with @Model.Amount €. <br /><br />
        In case the project is NOT succesfully funded, you will receive a full refund! <br />
        The only payment method we currently support is through VIVA Wallet. To proceed click the button below.<br />
    </h3>

    <form id="myform1" action=@Url.Action("VivaPayment","Project") method="post" style="margin-left: 20px;">
        @Html.Hidden("amount" , Model.Amount)
        @Html.Hidden("projectId",Model.ProjectId)
        @Html.Hidden("BackerId",Model.BackerId)

        <button type="button"
            data-vp-publickey         ="SnJMStPua7FuMFkXFatxfyUH2RLhammNPfVVqSlOQec="
            data-vp-baseurl           ="https://demo.vivapayments.com"
            data-vp-lang              ="en"
            data-vp-amount            =@(Model.Amount.ToString()+"00")
            data-vp-description       ="My product"
            data-vp-customerfirstname = @Model.BackerName
            data-vp-customersurname   = @Model.BackerLastName
            data-vp-customeremail     = @Model.BackerMail     >
        </button>
    </form>
</font>
    