@model CF.Models.Database.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentFundAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentFundAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInserted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInserted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationGuid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
