@model WebApplication1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="layout-2cols">
    <div class="content grid_8">
        <div class="single-page">
            <div class="wrapper-box box-post-comment">
                <h2 class="common-title">@ViewBag.Title</h2>
                <div class="form login-form">
                    <section id="loginForm">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="box-white">
                                <h4 class="rs title-box">Enter your email</h4>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-action">

                                    @Html.LabelFor(m => m.Email, new { @class = "txt_email_login" })

                                    @Html.TextBoxFor(m => m.Email, new { @class = "txt fill-width" })

                                    <p class="rs ta-c pb10">
                                        <input type="submit" class="btn btn-red btn-submit" value="Email Link" />
                                    </p>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div><!--end: .box-list-comment -->
    </div>
</div><!--end: .content -->
<div class="clear"></div>