@model CF.Models.Database.ProjectUpdate

@{
    ViewBag.Title = "Create Update!";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="layout-2cols">
    <div class="content grid_8">
        <div class="single-page">
            <div class="wrapper-box box-post-comment">
                <h2 class="common-title">Create an Update!</h2>
                <div class="form login-form">
                    <section id="loginForm">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ProjectId)
                            <div class="box-white">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <h4 class="rs title-box">New ideas about your project? </h4>
                                <p class="rs">Let the people know!</p>
                                <div class="form-action">
                                    @Html.LabelFor(model =>model.Text, "Update", htmlAttributes: new { @class = "txt_email_login" })
                                    @Html.TextAreaFor(model => model.Text, new { cols = "77", rows = "5", @class = "txt fill-width" })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                    <p class="rs ta-c pb10">
                                        <input type="submit" value="Create" class="btn btn-red btn-submit" />
                                    </p>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div><!--end: .box-list-comment -->
    </div>
</div><!--end: .content -->
<div class="clear"></div>
