@model WebApplication1.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="layout-2cols">
    <div class="content grid_8">
        <div class="project-detail">
            <div class="project-tab-detail tabbable accordion">
                <ul class="nav nav-tabs clearfix">
                    <li class="active"><a href="#">Profile Details</a></li>
                    <li><a href="#" class="be-fc-orange">Projects</a></li>
                    <li><a href="#" class="be-fc-orange">Backed Projects</a></li>
                </ul>
                <div class="tab-content">
                    <div>
                        <div class="tab-pane accordion-content active">
                            <div class="form form-profile">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Id)
                                    </div>
                                    <form action="#">
                                        <div class="row-item clearfix">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "fw-b", @style = "padding-left:3em;" })
                                            <div class="val">
                                                @Html.DisplayFor(m => m.FirstName, new { @class = "txt" })
                                            </div>
                                        </div>
                                        <div class="row-item clearfix">
                                            @Html.LabelFor(m => m.LastName, new { @class = "fw-b", @style = "padding-left:3em" })
                                            <div class="val">
                                                @Html.DisplayFor(m => m.LastName, new { @class = "txt fill-width" })
                                            </div>
                                        </div>
                                        <div class="row-item clearfix">
                                            @Html.LabelFor(m => m.Email, new { @class = "fw-b", @style = "padding-left:3em" })
                                            <div class="val">
                                                @Html.DisplayFor(m => m.Email, new { @class = "txt fill-width" })
                                            </div>
                                        </div>
                                        <div class="row-item clearfix">
                                            @Html.LabelFor(m => m.PhoneNumber,"Phone", new { @class = "fw-b", @style = "padding-left:3em" })
                                            <div class="val">
                                                @Html.DisplayFor(m => m.PhoneNumber, new { @class = "txt fill-width" })
                                            </div>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div><!--end: .tab-pane -->
                    </div>
                    <div>
                        <h3 class="rs alternate-tab accordion-label">Account</h3>
                        <div class="tab-pane accordion-content">
                            <div class="tab-pane-inside">
                                <div class="project-author pb20">
                                    <div class="media">
                                        <a href="#" class="thumb-left">
                                            <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">John Doe</a></h4>
                                            <p class="rs">Chicago, IL</p>
                                            <p class="rs fc-gray pb10">5 projects</p>
                                            <p class="rs description">Mauris vel lacus vitae felis vestibulum volutpat. Etiam est nunc, venenatis in, tristique eu, imperdiet ac, nisl. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                        </div>
                                    </div>
                                </div><!--end: .project-author -->
                            </div>
                        </div><!--end: .tab-pane -->
                    </div>
                    <div>
                        <h3 class="rs alternate-tab accordion-label">Projects</h3>
                        <div class="tab-pane accordion-content">
                            <div class="box-marked-project project-short inside-tab">
                                <div class="top-project-info">
                                    <div class="content-info-short clearfix">
                                        <a href="#" class="thumb-img">
                                            <img src="images/ex/th-292x204-1.jpg" alt="">
                                        </a>
                                        <div class="wrap-short-detail">
                                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">LYK and Bear #1: No Food Deed Unpunished</a></h3>
                                            <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">Ray Sumser</a> in <span class="fw-b fc-gray">New York, NY</span></p>
                                            
                                        </div>
                                        <p class="rs clearfix comment-view">
                                            <a href="#" class="fc-gray be-fc-orange">75 comments</a>
                                            <span class="sep">|</span>
                                            <a href="#" class="fc-gray be-fc-orange">378 views</a>
                                        </p>
                                    </div>
                                </div><!--end: .top-project-info -->
                                <div class="bottom-project-info clearfix">
                                    <div class="project-progress sys_circle_progress" data-percent="33">
                                        <div class="sys_holder_sector"></div>
                                    </div>
                                    <div class="group-fee clearfix">
                                        <div class="fee-item">
                                            <p class="rs lbl">Buckers</p>
                                            <span class="val">270</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Pledged</p>
                                            <span class="val">$38,000</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Days Left</p>
                                            <span class="val">25</span>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div><!--end: .box-marked-project -->
                            <div class="box-marked-project project-short inside-tab">
                                <div class="top-project-info">
                                    <div class="content-info-short clearfix">
                                        <a href="#" class="thumb-img">
                                            <img src="images/ex/th-292x204-2.jpg" alt="">
                                        </a>
                                        <div class="wrap-short-detail">
                                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">LYK and Bear #1: No Food Deed Unpunished</a></h3>
                                            <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">Ray Sumser</a> in <span class="fw-b fc-gray">New York, NY</span></p>
                                            
                                        </div>
                                        <p class="rs clearfix comment-view">
                                            <a href="#" class="fc-gray be-fc-orange">75 comments</a>
                                            <span class="sep">|</span>
                                            <a href="#" class="fc-gray be-fc-orange">378 views</a>
                                        </p>
                                    </div>
                                </div><!--end: .top-project-info -->
                                <div class="bottom-project-info clearfix">
                                    <div class="project-progress sys_circle_progress" data-percent="65">
                                        <div class="sys_holder_sector"></div>
                                    </div>
                                    <div class="group-fee clearfix">
                                        <div class="fee-item">
                                            <p class="rs lbl">Buckers</p>
                                            <span class="val">270</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Pledged</p>
                                            <span class="val">$38,000</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Days Left</p>
                                            <span class="val">25</span>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div><!--end: .box-marked-project -->
                            <div class="box-marked-project project-short inside-tab">
                                <div class="top-project-info">
                                    <div class="content-info-short clearfix">
                                        <a href="#" class="thumb-img">
                                            <img src="images/ex/th-292x204-3.jpg" alt="">
                                        </a>
                                        <div class="wrap-short-detail">
                                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">LYK and Bear #1: No Food Deed Unpunished</a></h3>
                                            <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">Ray Sumser</a> in <span class="fw-b fc-gray">New York, NY</span></p>
                                            
                                        </div>
                                        <p class="rs clearfix comment-view">
                                            <a href="#" class="fc-gray be-fc-orange">75 comments</a>
                                            <span class="sep">|</span>
                                            <a href="#" class="fc-gray be-fc-orange">378 views</a>
                                        </p>
                                    </div>
                                </div><!--end: .top-project-info -->
                                <div class="bottom-project-info clearfix">
                                    <div class="project-progress sys_circle_progress" data-percent="69">
                                        <div class="sys_holder_sector"></div>
                                    </div>
                                    <div class="group-fee clearfix">
                                        <div class="fee-item">
                                            <p class="rs lbl">Buckers</p>
                                            <span class="val">270</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Pledged</p>
                                            <span class="val">$38,000</span>
                                        </div>
                                        <div class="sep"></div>
                                        <div class="fee-item">
                                            <p class="rs lbl">Days Left</p>
                                            <span class="val">25</span>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div><!--end: .box-marked-project -->
                        </div><!--end: .tab-pane -->
                    </div>
                </div>
            </div><!--end: .project-tab-detail -->
        </div>
    </div><!--end: .content -->
    <div class="clear"></div>
</div>