@using WebApplication1.Models
@using Microsoft.AspNet.Identity


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | 4Viva</title>

    @* TEMPLATE HEADER FILES*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/normalize.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/jquery.sidr.light.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/animate.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/md-slider.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/style.css" />

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="css/ie7.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie8.css"/>
    <![endif]-->
    
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/responsiveslides.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/responsive.css" />

    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/raphael-min.js"></script>
    @*<script type="text/javascript" src="@Url.Content("~/content/mytemplate/")js/jquery-1.9.1.min.js"></script>*@
    <script  src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/jquery.touchwipe.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/md_slider.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/jquery.sidr.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/pie.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/script.js"></script>
    <script src="https://demo.vivapayments.com/web/checkout/js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
  $( function() {
      $("#Project_DueDate").datepicker({ dateFormat: 'yy-mm-dd' });
  } );
    </script>


    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->

    <script>
        function takeSearch() {
            var query = document.getElementById("sys_txt_keyword").value;
            //var url = '@Url.Action("Search", "Project")?searchTitle=' + query;
            window.location.href = '/project/search?searchTitle=' + query;
            //document.getElementById("sys_txt_keyword").innerHTML = url;
            //alert(url);

            //var xhttp = new XMLHttpRequest();
            //xhttp.onreadystatechange = function () {
            //    if (this.readyState == 4 && this.status == 200) {
            //        document.getElementById("sys_txt_keyword").innerHTML = this.responseText;
            //    }
            //};
            //xhttp.open("GET", "ajax_info.txt", true);
            //xhttp.send();
        }
    </script>
</head>
<body>
    <header id="header">
        <div class="wrap-top-menu">
            <div class="container_12 clearfix">
                <div class="grid_12">
                    <nav class="top-menu">
                        <ul id="main-menu" class="nav nav-horizontal clearfix">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            @*<li class="sep"></li>
                            <li><a href="all-pages.html">All Pages</a></li>*@
                            <li class="sep"></li>
                            <li>@Html.ActionLink("How it works", "About", "Home")</li>
                            <li class="sep"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        <a id="btn-toogle-menu" class="btn-toogle-menu" href="#alternate-menu">
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                        </a>
                        <div id="right-menu">
                            <ul class="alternate-menu">
                                <li><a href="index.html">@Html.ActionLink("Home", "Index", "Home")</a></li>
                                <li><a href="all-pages.html">All Pages</a></li>
                                <li><a href="how-it-work.html">Help</a></li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </nav>
                    <div class="top-message clearfix">
                        
                        @if (Request.IsAuthenticated)
                        {
                            <img src="~/Content/mytemplate/images/profic1.png" style="width:20px; height:20px;"/>
                            string[] username = User.Identity.GetUserName().Split('@');
                            <span class="txt-message">Hello, @username[0]!</span>
                        }
                        else {
                            <i class="icon iNext"></i>
                            <span class="txt-message">Be the change you want to see in the world.</span>
                        }
                        <div class="clear"></div>
                    </div>
                    <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
                </div>
            </div>
        </div><!-- end: .wrap-top-menu -->
        <div class="container_12 clearfix">
            <div class="grid_12 header-content">
                <div id="sys_header_right" class="header-right">
                    <div class="account-panel">
                        @if (Request.IsAuthenticated)
                        {
                            <a href="@Url.Action("LogOff", "Account")" class="btn btn-red">Log off</a>
                        }
                        else {
                            <a href="@Url.Action("Register", "Account")" class="btn btn-red">Register</a>
                 
                            <a href="@Url.Action("Login", "Account")" class="btn btn-black">Login</a>
                        }
                    </div>
                    <div class="form-search">
                        <form>
                            <label for="sys_txt_keyword">
                                <input id="sys_txt_keyword" class="txt-keyword" type="text" placeholder="Search projects" />
                            </label>
                            <button class="btn-search" type="reset" onclick="takeSearch()"><i class="icon iMagnifier"></i></button>
                            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
                        </form>
</div>
                </div>
                <div class="header-left">
                    <h1 id="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/Content/myTemplate/")images/myLogo.png" alt="4Viva" />
                        </a>
                    </h1>
                    <div class="main-nav clearfix">
                        <div class="nav-item">
                            @Html.ActionLink("Discover", "Get", "Categories", new { id = 1}, new { @class = "nav-title" })
                            <p class="rs nav-description">Great Projects</p>
                        </div>
                        <span class="sep"></span>
                        <div class="nav-item">
                            @Html.ActionLink("Start", "Create", "Project", null, new { @class = "nav-title" })
                            
                            <p class="rs nav-description">Your Project</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--end: #header -->

    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container_12 main-footer">
            <div class="grid_3 about-us">
                <h3 class="rs title">About</h3>
                <p class="rs description">4Viva is one of those platforms that gives you space to work with people who know you, love you, and support you.</p>
                <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@4viva.com">info@4viva.com</a></p>
                <p class="rs">+30 (555) 555 - 55 - 55</p>
            </div><!--end: .contact-info -->
            <!----<div class="grid_3 recent-tweets">
                <h3 class="rs title">Recent Tweets</h3>
                <div class="lst-tweets" id="sys_lst_tweets">

                </div>
            </div>-->
            <!--end: .recent-tweets -->
            <div class="clear clear-2col"></div>
            <!--<div class="grid_3 email-newsletter">
                <h3 class="rs title">Newsletter Signup</h3>
                <div class="inner">
                    <p class="rs description">Stay in touch with the latest projects.</p>
                    <form action="#">
                        <div class="form form-email">
                            <label class="lbl" for="txt-email">
                                <input id="txt-email" type="text" class="txt fill-width" placeholder="Enter your e-mail address" />
                            </label>
                            <button class="btn btn-green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>-->
            <!--end: .email-newsletter -->
            <div class="grid_3 recent-tweets">
                <a href="http://devs.kariera.gr/coding-school" target="_blank"><img  src="@Url.Content("~/Content/myTemplate/")images/codingSchool.jpg" alt="CodingSchool" /></a>
                <a href="https://www.microsoft.com" target="_blank"><img src="@Url.Content("~/Content/myTemplate/")images/Microsoft.png" alt="Microsoft" /></a>

            </div>
            <div class="grid_3 recent-tweets">
                <a href="https://www.vivawallet.com" target="_blank"><img src="@Url.Content("~/Content/myTemplate/")images/VIVA-WALLET.png" alt="VivaWallet" /></a>
            </div>
                <div class="grid_3">
                    <h3 class="rs title">Discover &amp; Create</h3>
                    <div class="footer-menu">
                        <ul class="rs">
                            <li><a class="be-fc-orange" href="@Url.Action("About", "Home")">What is 4Viva</a></li>
                            <li><a class="be-fc-orange" href="@Url.Action("Create", "Project")">Start a project</a></li>
                            <li><a class="be-fc-orange" href="#">Project Guidlines</a></li>
                            <li><a class="be-fc-orange" href="#">Press</a></li>
                            <li><a class="be-fc-orange" href="#">Stats</a></li>
                        </ul>
                        <ul class="rs">
                            <li><a class="be-fc-orange" href="@Url.Action("StaffPicks", "Categories")">Staff Picks</a></li>
                            <li><a class="be-fc-orange" href="@Url.Action("Popular", "Categories")">Popular</a></li>
                            <li><a class="be-fc-orange" href="#">Recent</a></li>
                            <li><a class="be-fc-orange" href="@Url.Action("SmallProjects", "Categories")">Small Projects</a></li>
                            <li><a class="be-fc-orange" href="@Url.Action("MostFunded", "Categories")">Most Funded</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        <div class="copyright">
            <div class="container_12">
                <div class="grid_12">
                    <a class="logo-footer" href="@Url.Action()">
                        <img src="@Url.Content("~/Content/myTemplate/")images/myLogo-2.png" alt="4Viva" />
                    </a>
                    <p class="rs term-privacy">
                        <a class="fw-b be-fc-orange" href="#">Terms & Conditions</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="#">Privacy Policy</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="@Url.Action("About", "Home")">FAQ</a>
                    </p>
                    <p class="rs ta-c fc-gray-dark site-copyright">© 2016 - Designed by <a href="#" title="" target="_blank">Viva Team 4</a>.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </footer><!--end: #footer -->
    @*<div class="popup-common" id="sys_popup_common">
        <div class="overlay-bl-bg"></div>
        <div class="container_12 pop-content">
            <div class="grid_12 wrap-btn-close ta-r">
                <i class="icon iBigX closePopup"></i>
            </div>
            <div class="grid_6 prefix_1">
                <div class="form login-form">
                    <form action="@Url.Action()">
                        <h3 class="rs title-form">Register</h3>
                        <div class="box-white">
                            <h4 class="rs title-box">New to 4Viva?</h4>
                            <p class="rs">A 4Viva account is required to continue.</p>
                            <div class="form-action">
                                using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-action", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="wrap-2col clearfix">
                                        <div class="col">
                                            <label for="txt_fname">
                                                <!--<input id="txt_fname" class="txt fill-width" type="text" placeholder="Enter first name" />-->
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "txt fill-width", placeholder = "Enter first name" })
                                            </label>
                                            <label for="txt_email">
                                                <!--<input id="txt_email" class="txt fill-width" type="email" placeholder="Enter your e-mail address" />-->
                                                @Html.TextBoxFor(m => m.Email, new { @class = "txt fill-width", placeholder = "Enter your e-mail address" })
                                            </label>
                                            <label for="txt_re_email">
                                                <!--<input id="txt_re_email" class="txt fill-width" type="email" placeholder="Re-enter your e-mail adress" />-->
                                                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "txt fill-width", placeholder = "Re-enter your e-mail address" })
                                            </label>
                                        </div>
                                        <div class="col">

                                            <label for="txt_lname">
                                                <!--<input id="txt_lname" class="txt fill-width" type="text" placeholder="Enter last name" />-->
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "txt fill-width", placeholder = "Enter last name" })
                                            </label>
                                            <label for="txt_password">
                                                <!--<input id="txt_password" class="txt fill-width" type="password" placeholder="Enter password" />-->
                                                @Html.TextBoxFor(m => m.Password, new { @class = "txt fill-width", placeholder = "Enter password" })
                                            </label>
                                            <label for="txt_re_password">
                                                <!--<input id="txt_re_password" class="txt fill-width" type="password" placeholder="Re-enter password" />-->
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "txt fill-width", placeholder = "Re-enter password" })
                                            </label>
                                        </div>
                                    </div>
                                }
                                <p class="rs pb10">By signing up, you agree to our <a href="#" class="fc-orange">terms of use</a> and <a href="#" class="fc-orange">privacy policy</a>.</p>
                                <p class="rs ta-c">
                                    <button class="btn btn-red btn-submit" type="submit" value="Register">Register</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid_4">
                <div class="form login-form">
                    <form action="#">
                        <h3 class="rs title-form">Login</h3>
                        <div class="box-white">
                            <h4 class="rs title-box">Already Have an Account?</h4>
                            <p class="rs">Please log in to continue.</p>

                            <div class="form-action">
                                <label for="txt_email_login">
                                    <input id="txt_email_login" class="txt fill-width" type="email" placeholder="Enter your e-mail address" />
                                </label>
                                <label for="txt_password_login">
                                    <input id="txt_password_login" class="txt fill-width" type="password" placeholder="Enter password" />
                                </label>

                                <label for="chk_remember" class="rs pb20 clearfix">
                                    <input id="chk_remember" type="checkbox" class="chk-remember" />
                                    <span class="lbl-remember">Remember me</span>
                                </label>
                                <p class="rs ta-c pb10">
                                    <button class="btn btn-red btn-submit" type="submit">Login</button>
                                </p>
                                <p class="rs ta-c">
                                    <a href="#" class="fc-orange">I forgot my password</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>*@
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/myTemplate")
}