@model WebApplication1.Models.BasicProjectInfoViewModel

<div class="grid_3">
    <div class="project-short sml-thumb">
        <div class="top-project-info">
            <div class="content-info-short clearfix">
                <a href="#" class="thumb-img">
                    <img src="/images/@Model.ImageUrl" alt="$TITLE">
                </a>
                <div class="wrap-short-detail">
                    <h3 class="rs acticle-title">
                    @Html.ActionLink(@Model.Title, "Details", "Project", new { id = @Model.Id }, new { @class = "be-fc-orange"})
                    </h3>
                    
                    <p class="rs tiny-desc">by <a href="profile.html" class="fw-b fc-gray be-fc-orange">@Model.CreatorFullName</a></p>
                    @*<p class="rs title-description">@Model.Description</p>*@
                </div>
            </div>
        </div>
        <div class="bottom-project-info clearfix">
            <div class="line-progress">
                <div class="bg-progress">
                    <span style="width: @Model.Ratio%"></span>
                </div>
            </div>
            <div class="group-fee clearfix">
                <div class="fee-item">
                    <p class="rs lbl">Funded</p>
                    <span class="val">@Model.Ratio%</span>
                </div>
                <div class="sep"></div>
                <div class="fee-item">
                    <p class="rs lbl">Pledged</p>
                    <span class="val">€@Model.CurrentFund</span>
                </div>
                <div class="sep"></div>
                <div class="fee-item">
                    <p class="rs lbl">Days Left</p>
                    <span class="val">@Model.DaysLeft</span>
                </div>
            </div>
        </div>
    </div>
</div><!--end: .grid_3 > .project-short-->
