@model CF.MVC.Models.ProjectViewModel

@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div id="wrapper">
    <div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <h1>Create Your Own Project!</h1>
                <div class="form form-profile">
                    <form action="#">
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "txt" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                <p class="rs description-input">Give your project a name!</p>
                            </div>
                        </div>
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                @Html.TextAreaFor(model => model.Description, new { @class = "txt" , rows = 4, cols = 28  })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "txt" } })
                                @*@Html.DropDownListFor(c=>c.CategoryId, new SelectList(Model.CategoryId, "CategoryId", "Value"))*@
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "txt" } })
                                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.TargetAmount, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                @Html.EditorFor(model => model.TargetAmount, new { htmlAttributes = new { @class = "txt" } })
                                @Html.ValidationMessageFor(model => model.TargetAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row-item clearfix">
                            @Html.LabelFor(model => model.isVerified, htmlAttributes: new { @class = "lbl" })
                            <div class="val">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.isVerified)
                                    @Html.ValidationMessageFor(model => model.isVerified, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <p class="wrap-btn-submit rs ta-r">
                            @Html.ActionLink("Create!", "Edit", "ProjectView", null, new { @class = "btn btn-red btn-submit-all" })
                        </p>
                    </form>
                </div>
            </div>
        </div><!--end: .content -->

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        <div class="sidebar grid_4">
            <div class="box-gray project-author">
                <h3 class="title-box">Project by</h3>
                <div class="media">
                    <a href="#" class="thumb-left">
                        <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME" />
                    </a>
                    <div class="media-body">
                        <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">John Doe</a></h4>
                        <p class="rs">Chicago, IL</p>
                        <p class="rs fc-gray">5 projects</p>
                    </div>
                </div>
                <div class="author-action">
                    <a class="btn btn-red" href="#">Edit info</a>
                    <a class="btn btn-white" href="#">Logout</a>
                </div>
            </div><!--end: .project-author -->
        </div><!--end: .sidebar -->
        <div class="clear"></div>
    </div>
</div>

